<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "相册名称" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= f.label "描述" %><br>
    <%= f.text_area :description, class: "form-control", rows: "3" %>
  </div>
  <br>
  <div class="field">
    <%= f.label "阅览权限" %><br>
    <%= f.select :locked, {"公开" => false, "非公开" => true }, class: "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "提交", class: "form-control btn btn-info" %>
  </div>
<% end %>
