<div class="topicbox">
  <%= will_paginate @photos %>
<%@photos.each do |photo|%>
  <div class="topics">
    <div class="topic topic_line">
      <div class="pull-left avatar">
        <%=image_tag(photo.image.thumb)%>	
      </div>
      <div class="title"><%=photo.title%></div>
        <div class="pull-right">
           <%= link_to '编辑', edit_photo_path(photo) %>
           <%= link_to '删除', photo, method: :delete, data: { confirm: 'Are you sure?' }, style: "color: red" %>
         </div>
         <div class="otherinfo">
           Path: <%= root_url+photo.image.url[1..-1]%>
	 </div>
      </div>
  </div>
<%end%>
    <div class="flickr_pagination">
    </div>
</div>
<div class="upload">
  <div id="filelist"></div>
</div>
<div class="upload_button" style="padding-left: 40%">
  <a id="pickfiles" href="#" class="btn btn-info">选择多张图片</a>
  <a id="uploadfiles" href="#" class="btn btn-warning">上传图片</a>
</div>
<script>
$(function(){
    var uploader = new plupload.Uploader({
      runtimes : "html5",
      browse_button : 'pickfiles',
      max_file_size : '10mb',
      url : "/upload",
      multipart: true,
      urlstream_upload: true,
      multipart_params: {
        '<%= request_forgery_protection_token %>': '<%= form_authenticity_token %>',
        '<%= Rails.application.config.session_options[:key] %>': '<%= request.session_options[:id] %>',
        'album_id': '<%= @album.id %>'
      }
    });

    uploader.bind('FilesAdded', function(up, files) {
      $.each(files, function(i, file) {
        $('#filelist').append(
          '<div id="' + file.id + '">' +
          'File: ' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
          '</div>'
          );
        });
      });

    uploader.bind('UploadProgress', function(up, file) {
      $('#' + file.id + " b").html(file.percent + "%");
    });

    uploader.bind('FileUploaded', function(up, file) {
      if(file.name.match(/^\w*-(([a-zA-Z]|)*(_|$))*/)){
        $('#' + file.id + " b").html("OK");
      }
      else{
        $('#' + file.id + " b").html("<span style='color:red;'>Wrong filename</span>");
      }
    });

    $('#uploadfiles').click(function(e) {
      uploader.start();
      e.preventDefault();
    });

    uploader.init();
  });
</script>
