<div class="container">
    <h1 class="text-center text-primary title">所有相册</h1>
    <%= will_paginate @posts %>
    <hr class="divider-title">
    <div class="row">
      <% @albums.each do |album| %>
        <div class="col-xs-12 col-md-4">
            <div class="project">
              <figure class="img-responsive">
                <% unless album.photos.empty? %>
                  <%=link_to image_tag(album.photos.first.image.thumb), album%>
                <% else %>
                  <%=link_to image_tag("/no_image.png"), album%>
                <% end %>
                    <figcaption>
                    <span class="project-details"><%= album.name %>
                    <%if album.locked %>
                      <i class="fa fa-lock"></i>
                    <% end %>
                    </span>
                    <span class="project-price"><strong><%=album.photos.length%></strong></span>
                    <span class="project-creator"><%= album.description %></span>
                    </figcaption>
                </figure>
            </div>
        </div>
      <% end %>
    </div>
</div>    			                                  
