<div class="container">
  <div class="panel panel-default">
      <div class="panel-heading" style="padding: 0">
        <ol class="breadcrumb">
          <li><%=link_to "主页", root_path %></li>
          <li><%=link_to "全部相册", albums_path %></li>
          <li class="active"><%= @album.name %></li>
        </ol>
      </div>
      <div class="panel-body">
        <div class="margin-left: 20%; marigin-right: 20%">
          <span style="font-size: 18px"><%= @album.description %></span>
         </div>
     </div>
      <div id="gallery">
	<div class="body">
	</div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    PhotoWall.init({
        el:             '#gallery'               // Gallery element
        ,zoom:          true                     // Use zoom
        ,zoomAction:    'mouseenter'             // Zoom on action
        ,zoomTimeout:   500                      // Timeout before zoom
        ,zoomDuration:  100                      // Zoom duration time
        ,showBox:       true                     // Enavle fullscreen mode
        ,showBoxSocial: true                     // Show social buttons
        ,padding:       5                       // padding between images in gallery
        ,lineMaxHeight: 150                      // Max set height of pictures line
                                                 // (may be little bigger due to resize to fit line)
    });
   var PhotosArray = new Array(
       <% @album.photos.each_with_index do |photo,index|%>
	 {id: <%=photo.id%>,img:'<%=photo.image.url%>',width:500,height:400,
	   th:{src:'<%=photo.image.thumb.url%>',width:50,height:40,
	     zoom_src:'<%=photo.image.url%>',zoom_factor:4
            }
	 }<%= "," unless index == @album.photos.length-1 %>
      <%end%>
    );

    PhotoWall.load(PhotosArray);
    });
</script>
